certifi==2020.11.8
challengeutils==4.0.1
chardet==3.0.4
Deprecated==1.2.4
entrypoints==0.3
idna==2.10
keyring==12.0.2
numpy==1.19.4
pandas==1.2.3
python-dateutil==2.8.1
pytz==2020.4
requests==2.24.0
six==1.15.0
synapseclient==2.3.0
urllib3==1.25.11
wrapt==1.12.1
